/* color light #0288D1 */
/* color dark #4D4C72 */
/* color dark #7477BF */

/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }

*/

* {
    box-sizing: border-box;
}

body {
    color: #797e83;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5; 
    padding: 0;
    margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 400; 
}

/* Notification Bar */

.topbar {
    background-color: #7477BF;
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.title h2 {
    align-self: center;
    color: white;
    font-size: 1.6em;
}

.brandname1 {
    padding-left: 1em;
    font-weight: bolder;
}

.brandname2 {
    font-weight: lighter;
}

.name {
    align-self: center;
    width: 50px;
    padding: .5em;
    color: white;
    text-align: center;
    font-size: .86em;
    margin-right: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    align-self: center; 
    margin-left: 15px;
}

/* Dropdown Notification */

.dropdown {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 10%; 
    border-right: solid 1px #4D4C72;
}

.dropbtn {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-color: #7477BF;
    background-image: url(../images/icon-bell.svg);
    background-position: center center no-repeat;
    background-size: contain;
    color: white;
    cursor: pointer;
    border: none;
    align-self: center;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 32px;
    margin-left: 40px;
    background-color: rgba(226,227,246,.9);
    min-width: 100px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdown-content a {
    color: #4D4C72;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

/* Navigation */

.main-nav {
    position: fixed;
    top: 70px;
    left: 0;
    width: 70px;
    height: 100%;
    background-color: #4D4C72;
}


.main-nav li {
   width: 30px;
   height: 30px;    
}

.main-nav a {
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 16px; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 30px;
}

.active {
    border-left: 4px solid lightgreen;
    border-radius: 4px;
    border-left-width: medium;
}

/* Search Bar */

.activepage {
    display: none;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 98%;
    margin: 0 auto;
    border-bottom: solid 1px lightgrey;
}

input[type=search] {
    width: 100%;
    height: 40px;
    align-self: center;
    background-color: white;
    background-image: url(../images/searchicon.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 0px 10px;
    border-radius: 5px;
}

input[type=search] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 100%;
    background-image: url(../images/searchiconopacity.svg);
}

.content_area {
    display: block;
    margin-left: 70px;
    margin-top: 70px;
}

 /* The Alert Box */

.alert {
    width: 98%;
    align-self: auto;
    padding: 15px;
    background-color: #7477BF;
    color: white;
    margin: 0 auto;
    margin-bottom: .5em; 
    border-radius: 5px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: darkblue;
}

/* Traffic Chart */

.chart-1 {
    align-self: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.legend {
    display: flex;
    justify-content: center;
    width: 100%;
}

.chartname {
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    font-size: 1.6em; 
}

.tabs {
    display: flex;
    justify-content: center;
    width: 90%;
}

button {
    border: none;
    background-color: white;
    color: #797e83;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: .8em;
    float: right;
    margin: 5px;
}

.buttonactive {
    background-color: #4CAF50;
    color: white;
    border-radius: 25px;
}

/* Daily Traffic Chart */

.dailytraffic {
    background-color: ;
    align-self: center;
    width: 98%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Mobile Users Chart */

.mobileusers {
    background-color: ;
    align-self: auto;
    width: 98%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Social Stats */

.socialstats {
    width: 98%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.socialcard {
    display: flex;
    width: 225px;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid rgba(226,227,246,.8);
    background-color: #fbfbfb;
}

.socialinfo {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
 
.socialname {
    font-size: 1.5em;
    font-weight: lighter;
    color: #4D4C72;
}

.socialsubs {
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #4D4C72;
}

.sociallink {
    width: 50%;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.sociallink a {
    width: 80px;
    height: 80px;
    align-self: center;
}

.fa {
    font-size: 3em;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    color: white;
    background-color: #4D4C72;
}

/* New Members */

.newmembers {
    display: block;
    width: 98%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

.member {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memberpic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.membercontact {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.membername {
    color: darkgrey;
    font-size: .9em;
}

.memberemail {
    font-size: .6em;
    color: #7277be;
}

.memberdate {
    color: darkgrey;
    font-size: .8em;
    margin-left: auto;
}


/* Recent Activity */

.activity {
    align-self: auto;
    width: 98%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.membersactivity {
    align-items: center;
}

.chevron {
   margin-left: auto;
   width: 20px;
   height: 20px;
}

.memberactivity {
    color: darkgrey;
    font-size: 1em;
}

.timeposted {
    color: darkgrey;
    font-size: .7em;
}

/* Message User */

.message {
    display: block;
    align-self: auto;
    width: 98%;
    height: 375px;
    margin: 0 auto;
    margin-bottom: 10px;
}

input, 
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    text-decoration: none;
}

.sendmessage {
    background-color: #7477BF;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

/* Settings */

.settings {
    display: block;
    align-self: auto;
    width: 98%;
    height: 375px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.settingsh4 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 auto;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
    margin-bottom: 10px;
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}

.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.switch-flat {
	padding: 0;
	background: #FFF;
	background-image: none;
}
.switch-flat .switch-label {
	background: #fff;
	border: solid 2px #eceeef;
	box-shadow: none;
}
.switch-flat .switch-label:after {
	color: #0288D1;
}
.switch-flat .switch-handle {
	top: 6px;
	left: 6px;
	background: #dadada;
	width: 22px;
	height: 22px;
	box-shadow: none;
}
.switch-flat .switch-handle:before {
	background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
	background: #fff;
	border-color: #7477BF;
}
.switch-flat .switch-input:checked ~ .switch-handle {
	left: 72px;
	background: #7477BF;
	box-shadow: none;
}

.timezone {
    width: 100%;
    height: 40px;
    align-self: center;
    background-color: white;
    padding: 0px 10px;
    border-radius: 5px;
    margin: 15px 0px;
}

.savebutton {
    background-color: #7477BF;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cancelbutton {
    background-color: #7477BF;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Media Queries */ 

@media screen and (min-width: 768px) {
      
      .container {
          height: auto;
      }
      
      /* Notification Bar */
      
      #borderleft {
          width: 70%;
      }
      
      .name {
          width: 150px;
      }
      
      .dropdown-content {
        margin-top: 35px;
        margin-left: 70px;
      }
    
      input[type=search] {
          width: 40%;
      }
      
      input[type=search]:focus {
            width: 70%;
            background-image: url(../images/searchiconopacity.svg);
      }
      
      /* Line Chart */
      
      #lineChart {
          padding: 15px;
      }
      
      /* Bar Graph */
      
      #bargraph {
          padding: 15px;
      }
      
      .chart-2 {
          width: 50%;
          float: left;
          border-top: solid 1px lightgrey;
          border-bottom: solid 1px lightgrey;
      }
      
      .chart-3 {
          width: 50%;
          float: right;
          border-top: solid 1px lightgrey;
          border-left: solid 1px lightgrey;
          border-bottom: solid 1px lightgrey;
      }
      
      /* Social Stats */
      
      .socialstats {
          height: 275px;
      }
      
      /* New Members & Recent Activity */ 
      
      .newmembers,
      .activity {
          width: 50%;
          height: 450px;
      }
      
      .newmembers {
          float: left;
          border-top: solid 1px lightgrey;
      }
      
      .activity {
          float: right;
          margin-bottom: 0px;
          border-top: solid 1px lightgrey;
          border-left: solid 1px lightgrey; 
      }
      
      .member {
          width: 95%;
          height: 70px;
          margin: 0 auto;
      }
      
      .memberemail {
          font-size: .9em;
      }
      
      /* Message User & Settings  */
      
      #searchuser {
          width: 100%;
      }
      
      .message {
          width: 49%;
          float: left;
          margin-left: 1%;
      }
      
      .form {
          width: 98%;
      }
      
      .settingscontainer {
          width: 98%;
          height: 250px;
          margin: 0 auto;
          float: right;
      }

      .sendmessage {
          height: 50px;
          margin-top: 5px;
      }
      
      .settings {
          width: 49%;
          float: right;
          margin-right: 1%;
          border-left: solid 1px lightgrey;
      }
      
      .timezone {
          width: 100%;
          margin: 0 auto;
          margin-top: 15px;
      }
      
      .savebutton,
      .cancelbutton {
          width: 48%;
          height: 50px;
          margin: 0 auto;
          margin-top: 15px;
      }
      
      .savebutton {
          float: left;
      }
      
      .cancelbutton {
          float: right;
      }
      
      .settings,
      .message {
          height: 450px; 
      }
    
}

@media screen and (min-width: 1024px) {
    
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    
    #borderleft {
        width: 20%;
    }
    
    .icondiv {
        width: 20%;
    }
    
    .searchcontainer {
        display: flex;
        width: 100%;
        height: 70px;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .activepage {
        display: flex;
        width: 15%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6em;
        justify-content: center;
    }
    
    .search-bar {
        display: flex;
        width: 85%;
        height: 70px;
        align-items: flex-end;
        flex-direction: row;
        justify-content: flex-end;
        border-left: solid 1px lightgrey;
        border-bottom: solid 1px lightgrey;
    }
    
    #search {
        margin-right: 1%;
    }
    
    .searchcontainer {
        margin-bottom: 25px;
    }
    
    .legend {
        justify-content: flex-start;
    }
    
    .tabs {
        display: flex;
        justify-content: flex-end;
    }
    
    .socialcard {
        width: 30%;
    }
}

@media screen and (min-width: 1400px) {
    
    .dropdown-content {
        margin-top: 35px;
        margin-left: 70px;
    }
    
    .socialcard {
        width: 16%;
    }
    
}